# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Environment-specific
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Secrets
.env

# Training data
data/claims.bson

# Models and fine-tuned classifiers
bert-base-multilingual-cased/config.json
bert-base-multilingual-cased/pytorch_model.bin
bert-base-multilingual-cased/vocab.txt
models/*

# Notebooks and artifacts related
notebooks/

# Artifact of Markdown plugins
README.html
